{% extends 'blog/main.html' %}
	{% block content %}
		<div class="wrap-container">
			<!-----------------Content-Box-------------------->
			<div id="main-content">
				<div class="wrap-content">
					<div class="row">
						<article class="single-post zerogrid">
							<div class="row wrap-post"><!--Start Box-->
								<div class="entry-header">
									<span class="time">{{ post.date }}</span>
									<h2 class="entry-title"><a href="#">{{ post.title }}</a></h2>
									<span style="font-size: 20px;">Автор статьи - {{ post.author }}</span>
								</div>
								<div class="post-thumbnail-wrap">
									<img src="{{ post.image.url }}">
								</div>
								<div class="entry-content">
									<div class="excerpt">
										<p>{{ post.text }}</p>
									</div>
								</div>
							</div>
						</article>
						<div class="zerogrid">
							<div class="comments-are">
								<div id="comment">
									<h3>Leave a Reply</h3>
									<span>Your email address will not be published. Required fields are marked </span>
									<form name="comment_form" id="comment_form" method="post" action="">
										<label>
										<span>Comment:</span>
										<textarea name="message" id="message"></textarea>
										</label>
										<label>
										<span>Name:</span>
										<input type="text"  name="name" id="name" required>
										</label>
										<label>
										<span>Email:</span>
										<input type="email"  name="email" id="email" required>
										</label>
										<center><input class="sendButton" type="submit" name="submitcomment" value="Submit"></center>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	{% endblock %}